<!--[main]-->
<h4>
  Agora, você pode iniciar a criação das classes na estrutura do template:
</h4>
<ol>
  <li>
    Crie a classe de controle. Ex: ProductForm, ProductList;
  </li>
  <li>
    Efetue login como administrador (admin), para registrar as permissões;
  </li>
  <li>
    Registre a classe como programa (Administração -> Programas). Você deve
    preencher o campo "classe de controle" com o nome da classe (Ex:
    ProductForm);
  </li>
  <li>
    Conceda permissões para a classe registrada para algum usuário ou grupo
    (Administration -> Users ou Administration -> Groups);
  </li>
  <li>
    Adicione o programa ao menu.xml, que contém a estrutura do menu;
  </li>
  <li>
    Realize um logout e um login com algum usuário com permissão para rodar o
    programa criado;
  </li>
  <li>
    Finalize a criação do programa.
  </li>
</ol>
<!--[/main]-->
